* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 65px;
  background-color: #fff;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  top: 0;
  margin-top: 65px;
  /* z-index: 1000; */
}
.logo img{
  float: left;
  /* margin:  40px; */
  cursor: pointer;
  margin-left: 10px;
  height: 60px;
  margin-right: 70px;
}
nav {
  display: flex;
  padding: 2px 5%;
  margin-left: 140px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  /* margin: 0 10px; */
}
.nav-links li a{
  text-decoration: none;
   color: #000;
   padding: 10px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   /* margin-left: 10px; */
}
.nav-links li a:hover {
  text-decoration: underline;
  color: #000;
}
.wix {
  /* margin-right: 50px;
  margin-left: 50px; */
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 65px;
  padding-top: 0px;
  z-index: 2500;
  top: 0;
  border-bottom: 0.5px solid rgb(232, 227, 227);
}
.wix img{
  margin-top: 17px;
  margin-left: 30px;
  height: 35px;
  width: 180px;
  /* font-size: 20px; */
/* margin-bottom: 2px; */
}
.wix button{
/* float: left; */
background-color: rgb(41, 41, 248);
border: none;
color: #fff;
border-radius: 30px;
padding: 10px 25px;
margin-left: 790px;
margin-top: 12px;
font-size: 17px;
margin-bottom: 15px;
/* margin-right: -5px; */
}
.head-1 {
  /* margin-top: 70px; */
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /* padding: 20px; */
}
.head-1 p{
  font-family: monospace;
  margin-bottom: 20px;
  font-size: 15px;
}
.head-1 li{
  list-style: none;
  padding-bottom: 10px;
}
.sec-1{
  display: flex;
  gap: 370px;
  margin-top: 90px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.sec-1 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: lighter;
  position: sticky;
  top: 0;
  overflow: hidden;
  object-fit: cover;
}
.hr {
  margin-left: 50px;
  margin-right: 50px;
}
.hr1 {
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 40px;
}
.sec2 {
  display: flex;
  gap: 40px;
}
.sec2 img {
  width: 80%;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 400px;
  position: sticky;
  top: 0;
  overflow: hidden;
  object-fit: cover;
}
.sec2 p {
  margin-top: 100px;
  font-family: monospace;
  margin-bottom: 20px;
  font-size: 15px;
}
.sec2 h1{
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 40px;
}
label {
  display: block;
  margin-top: 40px;
  /* padding: 20px; */
  font-family: monospace;
  font-size: 15px;
  padding-bottom: 10px;
}
input {
  background-color: #f5f5f5;
  border: none;
  width: 530px;
  height: 40px;
  /* padding: 10px; */
}
textarea {
  background-color: #f5f5f5;
  border: none;
  width: 530px;
  height: 90px;
}
textarea:hover {
  border-bottom: 1px solid black;
}
input:hover {
  border-bottom: 1px solid black;
}
#message{
  padding: 10px;
  font-size: 15px;
}
.sec2 .head-2 button{
  border: none;
  width: 530px;
  height: 40px;
  background-color: rgb(219, 247, 7);
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 15px;
  font-family: monospace;
}
.sec2 .head-2 button:hover{
  background-color: rgb(135, 127, 44);
  color: #fff;
}
.button  {
 background-color: rgb(219, 247, 7);
 /* margin-right: 50px; */
 
 padding: 10px 30px;
 text-align: center;
 cursor: pointer;
margin-left: 20px;
border: 2px solid transparent;
transition: all 0.3s ease;
}
.button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid black;
  transition: all 0.1s ease; /* Faster transition on hover */
}
.yellow {
  background-color: rgb(219, 247, 7);
  height: 200px;
}
.yellow h3{
  text-align: center;
  padding-top: 40px;
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.01cap;
  font-weight: normal;
}
.yellow button {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 530px;
  padding: 10px 20px;
  background-color: #000;
}
.yellow a{
  text-decoration: none;
  color: rgb(219, 247, 7);
  padding: 20px 20px;
}
.yellow a:hover{
  color: #000;
}
.yellow button:hover{
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
footer{
   background-color: #f5f5f5;
   height: 370px;
}
.footer {
  display: flex;
  gap: 150px;
  /* margin-top: 70px; */
  margin-bottom: 30px;
   background-color: #f5f5f5;
}
.footer a{
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.footer li{
  list-style: none;
  padding-bottom: 15px;
}
.footer p{
  font-size: 20px;
  font-family: monospace;
  padding-bottom: 20px;
}
.footer img{
  margin-left: 60px;
  width: 160px;
  height: 170px;
  margin-top: 50px;
}
.footer .head{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .nav{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .follow{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
footer hr {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
}
.last{
  display: inline-flex;
  margin-left: 50px;
  gap: 290px;
margin-top: 20px;
margin-bottom: 20px;
}
.last-1{
  display: inline-flex;
}
.last-1 p{
padding-right: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.last-2 p{
  font-family: Arial, Helvetica, sans-serif;
}
.la {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  text-align: center;
}
.la a{
  color: #000;
}
.wix button:hover{
  margin-left:780px ;
  padding-right: 40px;
}