* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  top: 0;
  margin-top: 65px;
}
.logo img{
  float: left;
  cursor: pointer;
  margin-left: 10px;
  height: 60px;
  margin-right: 70px;
}
nav {
  display: flex;
  padding: 2px 5%;
  margin-left: 140px;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
.nav-links li a{
  text-decoration: none;
   color: #000;
   padding: 10px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
}
.nav-links li a:hover {
  text-decoration: underline;
  color: #000;
}
.button  {
 background-color: rgb(219, 247, 7);
 padding: 10px 30px;
 text-align: center;
 cursor: pointer;
margin-left: 20px;
border: 2px solid transparent;
transition: all 0.3s ease;
}
.button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid black;
  transition: all 0.1s ease; 
}
.wix {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 65px;
  z-index: 2500;
  top: 1;
  border-bottom: 0.5px solid rgb(232, 227, 227);
}
.wix img{
  margin-top: 17px;
  margin-left: 30px;
  height: 35px;
  width: 180px;
}
.wix button{
background-color: rgb(41, 41, 248);
border: none;
color: #fff;
border-radius: 30px;
padding: 10px 25px;
margin-left: 790px;
margin-top: 12px;
font-size: 17px;
margin-bottom: 15px;
}
.main {
  display: inline-flex;
  margin-left: 50px;
  gap: 50px;
  margin-top: 35px;
}
.main img{
  height: 650px;
  width:500px ;
  margin-bottom: 70px;
}
.main .ser h3{
font-family: monospace;
font-size: 20px;
font-weight: lighter;
padding-bottom: 20px;
}
.main .ser h1{
  padding-bottom: 40px;
  margin-right: 60px;
  font-size: 45px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.main .ser  p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  width: 530px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.main .ser hr{
  width: 530px;
}
.main .ser  p:hover {
  background-color: rgb(219, 247, 7);
}
.yellow {
  background-color: rgb(219, 247, 7);
  height: 200px;
}
.yellow h3{
  text-align: center;
  padding-top: 40px;
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.01cap;
  font-weight: normal;
}
.yellow button {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 530px;
  padding: 10px 20px;
  background-color: #000;
}
.yellow a{
  text-decoration: none;
  color: rgb(219, 247, 7);
  padding: 20px 20px;
}
.yellow a:hover{
  color: #000;
}
.yellow button:hover{
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
footer{
   background-color: #f5f5f5;
   height: 370px;
}
.footer {
  display: flex;
  gap: 150px;
  margin-bottom: 30px;
   background-color: #f5f5f5;
}
.footer a{
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.footer li{
  list-style: none;
  padding-bottom: 15px;
}
.footer p{
  font-size: 20px;
  font-family: monospace;
  padding-bottom: 20px;
}
.footer img{
  margin-left: 60px;
  width: 160px;
  height: 170px;
  margin-top: 50px;
}
.footer .head{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .nav{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .follow{
  margin-top: 70px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
footer hr {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
}
.last{
  display: inline-flex;
  margin-left: 50px;
  gap: 290px;
margin-top: 20px;
margin-bottom: 20px;
}
.last-1{
  display: inline-flex;
}
.last-1 p{
padding-right: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.last-2 p{
  font-family: Arial, Helvetica, sans-serif;
}
.la {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  text-align: center;
}
.la a{
  color: #000;
}
.wix button:hover{
  margin-left:780px ;
  padding-right: 40px;
}